.addForm {
    display: flex;
    flex-direction: column;
    width: 60vh;
    height: 75vh;
    border-width: .5vh;
    border-color: black;
    border-style: solid;
    padding: 10vh;
    align-items: center;
}

.form-control {
    display: flex;
    flex-direction: column;
    height: 1vh;
    width: 30vh;
    padding: 1.5vh;
}

.notes {
    display: flex;
    flex-direction: column;  
    margin: 1vh;
    height: 7vh;
    width: 50vh;
    padding: 1.5vh;
}