.addForm {
    display: flex;
    flex-direction: column;
    width: 60vh;
    height: 75vh;
    border-width: .5vh;
    border-color: black;
    border-style: solid;
    padding: 10vh;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.form-control {
    display: flex;
    flex-direction: column;
    height: 1vh;
    width: 30vh; 
    padding: 1.5vh;
    font-family: 'Roboto', sans-serif;
    color: rgb(32, 55, 69);
}

.notes {
    display: flex;
    flex-direction: column;  
    margin: 1vh;
    height: 7vh;
    width: 50vh;
    padding: 1.5vh;
    font-family: 'Roboto', sans-serif;
}

.deleteBtn {
    background-color: rgb(0, 190, 141);
    color: white;
    border-color: rgb(32, 55, 69);
    height: 3vh;
    width: 4vh;
    border-width: .3vh;
    border-radius: .5vh;
    color: rgb(32, 55, 69);
}

.detailsLink {
    color: rgb(32, 55, 69);
}

h2 {
    color: rgb(32, 55, 69);
}