.jobCard {
    display: flex;
    flex-direction: column;
    width: 40vmin;
    height: 40vmin;
    border-width: .5vmin;
    border-color: rgb(32, 55, 69);
    border-style: solid;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

.jobCardBorder {
    border-width: .5vmin;
    border-color: rgb(32, 55, 69);
    border-style: solid;
    height: 41vmin;
    width: 41vmin;
    padding: 2vmin;
    background-color: rgb(159, 169, 175);
}
  
.jobCardOuterBorder {
    height: 46vmin;
    width: 46vmin;
    padding: 2vmin;
    background-color: rgb(32, 55, 69);
    border-color: white;
    border-width: 1vmin;
    border-style: solid;
}

.key {
    color: rgb(32, 55, 69);
}

.detailsLink {
    display: flex;
    color: rgb(32, 55, 69);
    justify-content: center;
}

.deleteBtn {
    background-color: rgb(0, 190, 141);
    border-color: rgb(32, 55, 69);
    height: 3vh;
    width: 4vh;
    margin: auto;
    border-width: .3vh;
    border-radius: .5vh;
}

.listCards {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

.companyList {
    display: flex;
    flex-direction: row;
    height: 7vmin;
    width: 34vmin;
    padding: .5vmin;
    color: rgb(32, 55, 69);
    font-size: large;
    font-weight: bold;
    font-style: italic;
    justify-content: center;
}

.positionList {
    display: flex;
    flex-direction: row;
    height: 5vmin;
    width: 34vmin;
    padding: .5vmin;
}

.locationList {
    display: flex;
    flex-direction: row;
    height: 5vmin;
    width: 34vmin;
    padding: .5vmin;
}

.logolist {
    display: flex;
    flex-direction: row;
    justify-content: center;
}