.editForm {
    display: flex;
    flex-direction: column;
    width: 50vmin;
    height: 88vmin;
    border-width: .5vmin;
    border-color: rgb(32, 55, 69);
    border-style: solid;
    padding: 10vmin;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

.form-control {
    display: flex;
    flex-direction: column;
    height: 1vmin;
    width: 30vmin;
    padding: 1.5vmin;
    border-color: rgb(32, 55, 69);
}

.notes {
    display: flex;
    flex-direction: column;  
    margin: 1vmin;
    height: 7vmin;
    width: 50vmin;
    padding: 1.5vmin;
    border-color: rgb(32, 55, 69);
}

.editBtn {
    background-color: rgb(0, 190, 141);
    color: rgb(32, 55, 69);
    border-color: rgb(32, 55, 69);
    height: 10vmin;
    width: 20vmin;
    border-width: .3vmin;
    border-radius: 4vmin;
    padding: 3vmin;
    outline: none;
}

.back {
    color: rgb(32, 55, 69);
}

.editFormBorder {
    border-width: .5vmin;
    border-color: rgb(32, 55, 69);
    border-style: solid;
    height: 109vmin;
    width: 72vmin;
    padding: 2vmin;
    background-color: rgb(159, 169, 175);
}
  
.editFormOuterBorder {
    height: 114vmin;
    width: 77vmin;
    padding: 2vmin;
    background-color: rgb(32, 55, 69);
}
  
.editHeader {
    color: rgb(32, 55, 69);
    font-family: 'Roboto', sans-serif;
    font-size: large;
  }