.NavBar {
  display: flex;
  justify-content: center;
  margin: 0 0 20px;
  font-family: 'Roboto', sans-serif;}

.NavBar-link {
  margin: 0 10px;
  color: rgb(32, 55, 69);
  font-family: 'Roboto', sans-serif;}

.NavBar-welcome {
  color: rgb(159, 169, 175);
  font-family: 'Roboto', sans-serif;}

.logo {
    display: flex;
    align-items: left;
    justify-content: left;
    align-self: left;
    justify-items: left;
    /* width: 50vh;
    width: 50vh; */
}