.App {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Roboto', sans-serif;
  background-image: url(https://i.imgur.com/sqI0Pie.png);
}

.btn {
  background-color: red;
  color: white;
  height: 10vh;
  width: 20vh;
}

.logo {
  background-image: url(https://i.imgur.com/sqI0Pie.png);
}